body {
    position: relative;
}

a {
    font-size: 20px;
    font-family: Monospace;
}

#logo-text {
    font-family: Lobster;
    color: #00b386;
    letter-spacing: 5px;
    font-size: 33px;
    padding-top: 2px
    padding-bottom: 2px;
    padding-left: 5px;
}

#headshot {
    border-radius: 50%;
    border: 1px solid;
    border-color: black;
    height: 200px;
    width: 200px;
}

#section-header {
    font-family: Bitter;
    letter-spacing: 5px;
}

.section {
    background-color: #ffcc99;
}

.front {
    background-color: #d1e0e0;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.social-icon:hover {
    opacity: 0.4;
}